<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petty Cash Voucher</title>
</head>
<body>

    <main class="content px-3 py-4"  layout:fragment="content">
        <div class="container-fluid">
            <div>
                Name:
                <h1 sec:authentication="name">
                    The value of the "name" property of the authentication object should appear here.
                </h1>
            </div>
            <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                <h3>EMPLOYEE ROLE</h3>
            </div>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <h3>MANAGER ROLE</h3>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <h3>ADMIN ROLE</h3>
            </div>
            <div class="mb-3">
                <h1 class="fw-bold fs-4 mb-3">Petty Cash</h1>
            </div>
            <h3>Welcome to Petty Cash Voucher Page</h3>
            <p>Received Petty Cash as of 27 June 2024</p>
            <table class="table table-striped shadow">
                <thead class="table-dark">
                <tr>
                    <th>Name of Receiver</th>
                    <th>Cash Received</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="receiver : ${people}">
                    <td th:text="${receiver.fullName}"></td>
                    <td th:text="${receiver.cash}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>