<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Project Summary</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Project Summary</h4>
                    </div>
                </div>
                <div class="row mb-4">
                    <!-- Client Account Information -->
                    <div class="col-md-6 p-3">
                        <h6 class="fw-bold">Client Account Information</h6>
                        <div th:if="${projectSummary.client?.individual != null}">
                            <p><strong>Full Name:</strong> <span  th:text="${projectSummary.client.individual.getFullName()}"></span></p>
                        </div>
                        <div th:if="${projectSummary.client?.company != null}">
                            <p><strong>Company Name:</strong> <span  th:text="${projectSummary.client.company.companyName}"></span></p>
                        </div>
                        <p><strong>Account Type:</strong> <span th:text="${projectSummary.clientAccountType.displayClientAccountType()}"></span></p>
                        <p><strong>Account Title:</strong> <span th:text="${projectSummary.accountTitle}"></span></p>
                        <br>
                        <h6 class="fw-bold">Project Information</h6>
                            <p><strong>Project Title:</strong> <span th:text="${projectSummary.projectAccount.projectTitle}"></span></p>
                            <p><strong>Project Type:</strong> <span th:text="${projectSummary.projectAccount.projectType.displayProjectType()}"></span></p>
                            <p><strong>SEC/Property Sub Type:</strong> <span th:text="${projectSummary.projectAccount.secSubType != null ?
                            projectSummary.projectAccount.secSubType.displaySecSubType() : projectSummary.projectAccount.propertySubType.displayPropertySubType()}"></span></p>
                            <p><strong>Status:</strong> <span th:text="${projectSummary.projectAccount.status.displayStatus()}"></span></p>
                    </div>
                    <!-- Right Column -->
                    <div class="col-md-6 p-3">
                        <h6 class="fw-bold">Other Details</h6>
                        <p><strong>Title No:</strong> <span th:text="${projectSummary.projectAccount.titleNo}"></span></p>
                        <p><strong>Tax Declaration No:</strong> <span th:text="${projectSummary.projectAccount.taxDecNo}"></span></p>
                        <p><strong>Lot No:</strong> <span th:text="${projectSummary.projectAccount.lotNo}"></span></p>
                        <p><strong>Lot Area:</strong> <span th:text="${projectSummary.projectAccount.lotArea}"></span></p>
                        <p><strong>Location:</strong> <span th:text="${projectSummary.projectAccount.location}"></span></p>
                        <p><strong>BIR:</strong> <span th:text="${projectSummary.projectAccount.bir}"></span></p>
                        <p><strong>RD:</strong> <span th:text="${projectSummary.projectAccount.rd}"></span></p>
                        <p><strong>Zonal Value:</strong> <span th:text="${projectSummary.projectAccount.zonalValue}"></span></p>
                        <p><strong>Purchase Price:</strong> <span th:text="${projectSummary.projectAccount.purchasePrice}"></span></p>
                        <p><strong>Remarks:</strong> <span th:text="${projectSummary.projectAccount.remarks}"></span></p>
                        <p><strong>Deceased:</strong> <span th:text="${projectSummary.projectAccount.deceased}"></span></p>
                        <p><strong>Heirs:</strong> <span th:text="${projectSummary.projectAccount.heirs}"></span></p>
                        <p><strong>Address:</strong> <span th:text="${projectSummary.projectAccount.address}"></span></p>
                    </div>
                </div>
                <h5 class="fw-bold mb-3">Project Activities</h5>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                        <tr>
                            <td>Activity Description</td>
                            <th>Activity Category</th>
                            <th>PIC</th>
                            <th>Activity Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Secure documents</td>
                            <td>Certification</td>
                            <td>Juan Doe</td>
                            <td>Oct. 25, 2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

</body>
</html>
