<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Projects</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Projects</h4>
                    </div>
                    <!-- Contact Option Modal Button -->
                    <div class="ms-auto p-1" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#projectTypeModal">
                            <i class="lni lni-notepad"></i> New Project
                        </button>
                    </div>
                </div>
                <!-- Project Forms  -->
                <th:block th:replace="~{project/project-forms :: project-forms}"></th:block>
                <!--<th:block th:replace="~{project/project-update-forms :: project-update-forms}"></th:block>-->
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                        <tr>
                            <th>Project Title</th>
                            <th>Project Type</th>
                            <th>Business/Property/SEC Sub Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempProject : ${listOfProjects}">
                        <td>
                            <a th:href="@{/client-account/{id}/project-summary(id=${tempProject.clientAccountId})}"
                               class="text-dark" title="view">
                                <span th:text="${tempProject.accountTitle}"></span>
                            </a>
                        </td>
                        <td th:text="${tempProject.projectAccount.projectType?.displayProjectType()}"></td>
                        <td th:text="${tempProject.projectAccount.secSubType != null ?
                                       tempProject.projectAccount.secSubType.displaySecSubType() :
                                       (tempProject.projectAccount.propertySubType != null ?
                                       tempProject.projectAccount.propertySubType.displayPropertySubType() :
                                       tempProject.projectAccount.businessSubType.displayBusinessSubType())}"></td>
                        <td th:text="${tempProject.projectAccount.status?.displayStatus()}"></td>
                        <td>
                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'TRANSFER_OF_TITLE'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editTransferOfTitleBtn" title="edit"
                               th:href="@{/client-account/edit-transfer-of-title(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'SETTLEMENT_OF_ESTATE'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSettlementOfEstateBtn" title="Edit Settlement of Estate"
                               th:href="@{/client-account/edit-settlement-of-estate-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'ANNOTATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editTitleAnnotationBtn" title="Edit Annotation"
                               th:href="@{/client-account/edit-title-annotation-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'OTHERS'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editTitleOtherBtn" title="Edit Annotation"
                               th:href="@{/client-account/edit-title-other-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <!-- Conditional Edit Button for BusinessSubType -->
                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'BUSINESS_REGISTRATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessRegistrationBtn" title="Edit Business Registration"
                               th:href="@{/client-account/edit-business-registration-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'BUSINESS_RENEWAL'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessRenewalBtn" title="Edit Business Renewal"
                               th:href="@{/client-account/edit-business-renewal-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'BUSINESS_CLOSURE'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessClosureBtn" title="Edit Business Closure"
                               th:href="@{/client-account/edit-business-closure-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'OTHERS'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessOtherBtn" title="Edit Business Closure"
                               th:href="@{/client-account/edit-business-other-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <!-- Conditional Edit Button for SecSubType -->
                            <a th:if="${tempProject.projectAccount.secSubType?.name() == 'SEC_REGISTRATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSecRegistrationBtn" title="Edit SEC Registration"
                               th:href="@{/client-account/edit-sec-registration-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.secSubType?.name() == 'AMENDMENT_OF_ARTICLES_OF_INCORPORATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSecAmendmentBtn" title="Edit Amendment of Articles"
                               th:href="@{/client-account/edit-sec-amendment-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.secSubType?.name() == 'INCREASE_IN_AUTHORIZED_CAPITAL_STOCK'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSecStockIncreaseBtn" title="Edit Increase in Authorized Capital Stock"
                               th:href="@{/client-account/edit-sec-stock-increase-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        // alert("Hello, World!");
                    });
                </script>
            </div>
        </div>
    </div>
</main>

</body>
</html>
