<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Projects</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Projects</h4>
                    </div>
                    <!-- Contact Option Modal Button -->
                    <div class="ms-auto p-1" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#projectTypeModal">
                            <i class="lni lni-plus"></i> New Project
                        </button>
                    </div>
                </div>
                <!-- Project Forms  -->
                <th:block th:replace="~{project/project-forms :: project-forms}"></th:block>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                        <tr>
                            <th>Project Title</th>
                            <th>Project Type</th>
                            <th>Business/Property/SEC Sub Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempProject : ${listOfProjects}">
                        <td>
                            <a th:href="@{/client-account/{id}/project-summary(id=${tempProject.clientAccountId})}"
                               class="text-dark" title="view">
                                <span th:text="${tempProject.accountTitle}"></span>
                            </a>
                        </td>
                        <td th:text="${tempProject.projectAccount.projectType?.displayProjectType()}"></td>
                        <td th:text="${tempProject.projectAccount.secSubType != null ?
                                       tempProject.projectAccount.secSubType.displaySecSubType() :
                                       (tempProject.projectAccount.propertySubType != null ?
                                       tempProject.projectAccount.propertySubType.displayPropertySubType() :
                                       tempProject.projectAccount.businessSubType.displayBusinessSubType())}"></td>
                        <td th:text="${tempProject.projectAccount.status?.displayStatus()}"></td>
                        <td>
                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'TRANSFER_OF_TITLE'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editTransferOfTitleBtn" title="edit"
                               th:href="@{/client-account/edit-transfer-of-title-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'SETTLEMENT_OF_ESTATE'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSettlementOfEstateBtn" title="edit"
                               th:href="@{/client-account/edit-settlement-of-estate-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'ANNOTATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editTitleAnnotationBtn" title="edit"
                               th:href="@{/client-account/edit-title-annotation-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.propertySubType?.name() == 'OTHERS'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editTitleOtherBtn" title="edit"
                               th:href="@{/client-account/edit-title-other-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <!-- Conditional Edit Button for BusinessSubType -->
                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'BUSINESS_REGISTRATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessRegistrationBtn" title="edit"
                               th:href="@{/client-account/edit-business-registration-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'BUSINESS_RENEWAL'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessRenewalBtn" title="edit"
                               th:href="@{/client-account/edit-business-renewal-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'BUSINESS_CLOSURE'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessClosureBtn" title="edit"
                               th:href="@{/client-account/edit-business-closure-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.businessSubType?.name() == 'OTHERS'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editBusinessOtherBtn" title="edit"
                               th:href="@{/client-account/edit-business-other-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <!-- Conditional Edit Button for SecSubType -->
                            <a th:if="${tempProject.projectAccount.secSubType?.name() == 'SEC_REGISTRATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSecRegistrationBtn" title="edit"
                               th:href="@{/client-account/edit-sec-registration-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.secSubType?.name() == 'AMENDMENT_OF_ARTICLES_OF_INCORPORATION'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSecAmendmentBtn" title="edit"
                               th:href="@{/client-account/edit-sec-amendment-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>

                            <a th:if="${tempProject.projectAccount.secSubType?.name() == 'INCREASE_IN_AUTHORIZED_CAPITAL_STOCK'}"
                               sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editSecStockIncreaseBtn" title="edit"
                               th:href="@{/client-account/edit-sec-stock-increase-account(id=${tempProject.clientAccountId})}">
                                <i class="lni lni-pen-to-square"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {

                        // Update Transfer of Title

                        $('.table .editTransferOfTitleBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editTransferOfTitleForm #editTransferOfTitleAccountId').val(tempProject.clientAccountId);
                                $('#editTransferOfTitleForm #editTransferProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editTransferOfTitleForm #editTransferClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editTransferOfTitleForm #editTransferOfTitleProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editTransferOfTitleForm #editTransferTitleNo').val(tempProject.projectAccount.titleNo);
                                    $('#editTransferOfTitleForm #editTransferTaxDeclarationNo').val(tempProject.projectAccount.taxDecNo);
                                    $('#editTransferOfTitleForm #editTransferLotNo').val(tempProject.projectAccount.lotNo);
                                    $('#editTransferOfTitleForm #editTransferLotArea').val(tempProject.projectAccount.lotArea);
                                    $('#editTransferOfTitleForm #editTransferLocation').val(tempProject.projectAccount.location);
                                    $('#editTransferOfTitleForm #editTransferBir').val(tempProject.projectAccount.bir);
                                    $('#editTransferOfTitleForm #editTransferRd').val(tempProject.projectAccount.rd);
                                    $('#editTransferOfTitleForm #editTransferZonalValue').val(tempProject.projectAccount.zonalValue);
                                    $('#editTransferOfTitleForm #editTransferPurchasePrice').val(tempProject.projectAccount.purchasePrice);
                                    $('#editTransferOfTitleForm #editTransferRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editTransferOfTitleForm #editTransferStatus').val(tempProject.projectAccount.status);
                                }
                                $('#editTransferOfTitleModal').modal('show');
                            });
                        });

                        // Update Settlement of Estate

                        $('.table .editSettlementOfEstateBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editSettlementOfEstateForm #editSettlementOfEstateAccountId').val(tempProject.clientAccountId);
                                $('#editSettlementOfEstateForm #editSettlementProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editSettlementOfEstateForm #editSettlementClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editSettlementOfEstateForm #editSettlementOfEstateProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editSettlementOfEstateForm #editSettlementTitleNo').val(tempProject.projectAccount.titleNo);
                                    $('#editSettlementOfEstateForm #editSettlementDeceased').val(tempProject.projectAccount.deceased);
                                    $('#editSettlementOfEstateForm #editSettlementBir').val(tempProject.projectAccount.bir);
                                    $('#editSettlementOfEstateForm #editSettlementRd').val(tempProject.projectAccount.rd);
                                    $('#editSettlementOfEstateForm #editSettlementHeirs').val(tempProject.projectAccount.heirs);
                                    $('#editSettlementOfEstateForm #editSettlementAddress').val(tempProject.projectAccount.address);
                                    $('#editSettlementOfEstateForm #editSettlementRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editSettlementOfEstateForm #editSettlementStatus').val(tempProject.projectAccount.status);
                                }
                                $('#editSettlementOfEstateModal').modal('show');
                            });
                        });

                        // Update Title Annotation

                        $('.table .editTitleAnnotationBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editTitleAnnotationForm #editTitleAnnotationAccountId').val(tempProject.clientAccountId);
                                $('#editTitleAnnotationForm #editAnnotationProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editTitleAnnotationForm #editAnnotationClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editTitleAnnotationForm #editTitleAnnotationProjectId').val(tempProject.projectAccount.projectId);
                                    
                                    $('#editTitleAnnotationForm #editAnnotationTitleNo').val(tempProject.projectAccount.titleNo);
                                    $('#editTitleAnnotationForm #editAnnotationTaxDeclarationNo').val(tempProject.projectAccount.taxDecNo);
                                    $('#editTitleAnnotationForm #editAnnotationLotNo').val(tempProject.projectAccount.lotNo);
                                    $('#editTitleAnnotationForm #editAnnotationLotArea').val(tempProject.projectAccount.lotArea);
                                    $('#editTitleAnnotationForm #editAnnotationLocation').val(tempProject.projectAccount.location);
                                    $('#editTitleAnnotationForm #editAnnotationBir').val(tempProject.projectAccount.bir);
                                    $('#editTitleAnnotationForm #editAnnotationRd').val(tempProject.projectAccount.rd);
                                    $('#editTitleAnnotationForm #editAnnotationZonalValue').val(tempProject.projectAccount.zonalValue);
                                    $('#editTitleAnnotationForm #editAnnotationPurchasePrice').val(tempProject.projectAccount.purchasePrice);
                                    $('#editTitleAnnotationForm #editAnnotationRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editTitleAnnotationForm #editAnnotationStatus').val(tempProject.projectAccount.status);
                                }
                                $('#editTitleAnnotationModal').modal('show');
                            });
                        });

                        // Update Title Other Transaction

                        $('.table .editTitleOtherBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editTitleOtherForm #editTitleOtherAccountId').val(tempProject.clientAccountId);
                                $('#editTitleOtherForm #editTitleOtherProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editTitleOtherForm #editTitleOtherClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editTitleOtherForm #editTitleOtherProjectId').val(tempProject.projectAccount.projectId);

                                    $('#editTitleOtherForm #editTitleOtherTitleNo').val(tempProject.projectAccount.titleNo);
                                    $('#editTitleOtherForm #editTitleOtherTaxDeclarationNo').val(tempProject.projectAccount.taxDecNo);
                                    $('#editTitleOtherForm #editTitleOtherLotNo').val(tempProject.projectAccount.lotNo);
                                    $('#editTitleOtherForm #editTitleOtherLotArea').val(tempProject.projectAccount.lotArea);
                                    $('#editTitleOtherForm #editTitleOtherLocation').val(tempProject.projectAccount.location);
                                    $('#editTitleOtherForm #editTitleOtherBir').val(tempProject.projectAccount.bir);
                                    $('#editTitleOtherForm #editTitleOtherRd').val(tempProject.projectAccount.rd);
                                    $('#editTitleOtherForm #editTitleOtherZonalValue').val(tempProject.projectAccount.zonalValue);
                                    $('#editTitleOtherForm #editTitleOtherPurchasePrice').val(tempProject.projectAccount.purchasePrice);
                                    $('#editTitleOtherForm #editTitleOtherRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editTitleOtherForm #editTitleOtherStatus').val(tempProject.projectAccount.status);
                                }
                                $('#editTitleOtherModal').modal('show');
                            });
                        });

                        // Update Business Registration

                        $('.table .editBusinessRegistrationBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editBusinessRegistrationForm #editBusinessRegistrationAccountId').val(tempProject.clientAccountId);
                                $('#editBusinessRegistrationForm #editBusinessRegProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editBusinessRegistrationForm #editBusinessRegClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editBusinessRegistrationForm #editBusinessRegistrationProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editBusinessRegistrationForm #editBusinessRegRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editBusinessRegistrationForm #editBusinessRegStatus').val(tempProject.projectAccount.status);
                                }

                                $('#editBusinessRegModal').modal('show');
                            });
                        });

                        // Update Business Renewal

                        $('.table .editBusinessRenewalBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editBusinessRenewalForm #editBusinessRenewalAccountId').val(tempProject.clientAccountId);
                                $('#editBusinessRenewalForm #editBusinessRenewalProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editBusinessRenewalForm #editBusinessRenewalClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editBusinessRenewalForm #editBusinessRenewalProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editBusinessRenewalForm #editBusinessRenewalRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editBusinessRenewalForm #editBusinessRenewalStatus').val(tempProject.projectAccount.status);
                                }

                                $('#editBusinessRenewalModal').modal('show');
                            });
                        });

                        // Update Business Closure

                        $('.table .editBusinessClosureBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editBusinessClosureForm #editBusinessClosureAccountId').val(tempProject.clientAccountId);
                                $('#editBusinessClosureForm #editBusinessClosureProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editBusinessClosureForm #editBusinessClosureClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editBusinessClosureForm #editBusinessClosureProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editBusinessClosureForm #editBusinessClosureRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editBusinessClosureForm #editBusinessClosureStatus').val(tempProject.projectAccount.status);
                                }

                                $('#editBusinessClosureModal').modal('show');
                            });
                        });

                        // Update Business Other Transaction

                        $('.table .editBusinessOtherBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editBusinessOtherForm #editBusinessOtherAccountId').val(tempProject.clientAccountId);
                                $('#editBusinessOtherForm #editBusinessOtherProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editBusinessOtherForm #editBusinessOtherClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editBusinessOtherForm #editBusinessOtherProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editBusinessOtherForm #editBusinessOtherRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editBusinessOtherForm #editBusinessOtherStatus').val(tempProject.projectAccount.status);
                                }

                                $('#editBusinessOtherModal').modal('show');
                            });
                        });

                        // Update SEC Registration

                        $('.table .editSecRegistrationBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editSecRegistrationForm #editSecRegistrationAccountId').val(tempProject.clientAccountId);
                                $('#editSecRegistrationForm #editSecRegistrationProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editSecRegistrationForm #editSecRegistrationClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editSecRegistrationForm #editSecRegistrationProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editSecRegistrationForm #editSecRegistrationRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editSecRegistrationForm #editSecRegistrationStatus').val(tempProject.projectAccount.status);
                                }

                                $('#editSecRegistrationModal').modal('show');
                            });
                        });

                        // Update SEC Amendment of Articles

                        $('.table .editSecAmendmentBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editSecAmendmentForm #editSecAmendmentAccountId').val(tempProject.clientAccountId);
                                $('#editSecAmendmentForm #editSecAmendmentProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editSecAmendmentForm #editSecAmendmentClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editSecAmendmentForm #editSecAmendmentProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editSecAmendmentForm #editSecAmendmentRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editSecAmendmentForm #editSecAmendmentStatus').val(tempProject.projectAccount.status);
                                }

                                $('#editSecAmendmentModal').modal('show');
                            });
                        });

                        // Update SEC Stock Increase

                        $('.table .editSecStockIncreaseBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            $.get(href, function(tempProject, status) {
                                $('#editSecStockIncreaseForm #editSecStockIncreaseAccountId').val(tempProject.clientAccountId);
                                $('#editSecStockIncreaseForm #editSecStockIncreaseProjectTitle').val(tempProject.accountTitle);
                                if (tempProject.client) {
                                    $('#editSecStockIncreaseForm #editSecStockIncreaseClient').val(tempProject.client.contactId);
                                }
                                if (tempProject.projectAccount) {
                                    $('#editSecStockIncreaseForm #editSecStockIncreaseProjectId').val(tempProject.projectAccount.projectId);
                                    $('#editSecStockIncreaseForm #editSecStockIncreaseRemarks').val(tempProject.projectAccount.remarks);
                                    $('#editSecStockIncreaseForm #editSecStockIncreaseStatus').val(tempProject.projectAccount.status);
                                }

                                $('#editSecStockIncreaseModal').modal('show');
                            });
                        });

                    });
                </script>
            </div>
        </div>
    </div>
</main>

</body>
</html>
