<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Contact Forms</title>
</head>
<body>

    <div th:fragment="project-forms">
        <!-- Contact Type Modal // center modal dialog -> modal-dialog-centered -->
        <div class="modal fade" id="projectTypeModal" tabindex="-1" aria-labelledby="projectTypeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="contactTypeModalLabel">Project Type</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-primary w-100 text-center mb-2" id="propertiesBtn">Properties</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="businessBtn">Business</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="secBtn">Securities and Exchange (SEC)</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Property Select Modal -->
        <div class="modal fade" id="propertiesModal" tabindex="-1" aria-labelledby="propertiesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="propertiesModalLabel">Project Properties Subtype</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-primary w-100 text-center mb-2" id="transferOfTitleBtn">Transfer of Title</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="settlementOfEstateBtn">Settlement of State</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="titleAnnotationBtn">Annotation</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="titleOtherProcessBtn">Others</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Transfer of Title Form Modal -->
        <div class="modal fade" id="transferOfTitleModal" tabindex="-1" aria-labelledby="transferOfTitleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="transferOfTitleModalLabel">Transfer of Title (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 mb-3" id="addTransferOfTitleForm" method="POST">
                            <!-- One column row for state select option -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="transferProjectTitle" class="form-label">Project Title</label>
                                    <input type="text" class="form-control" id="transferProjectTitle" placeholder="Project title ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="transferClientName" class="form-label">Client Name</label>
                                    <input type="text" class="form-control" id="transferClientName" placeholder="Client name ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="transferTitleNo" class="form-label">Title No.</label>
                                    <input type="text" class="form-control" id="transferTitleNo" placeholder="Title No. ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="transferTaxDeclarationNo" class="form-label">Tax Declaration No.</label>
                                    <input type="text" class="form-control" id="transferTaxDeclarationNo" placeholder="Tax Dec. ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="transferLotNo" class="form-label">Lot No.</label>
                                    <input type="text" class="form-control" id="transferLotNo" placeholder="Lot no. ..." required>
                                </div>
                                <div class="col-md-3">
                                    <label for="transferLotArea" class="form-label">Lot Area</label>
                                    <input type="text" class="form-control" id="transferLotArea" placeholder="Lot area ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="transferLocation" class="form-label">Location</label>
                                    <input type="text" class="form-control" id="transferLocation" placeholder="Location ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="transferBir" class="form-label">Bureau of Internal Revenue (BIR)</label>
                                    <input type="text" class="form-control" id="transferBir" placeholder="Revenue district office ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="transferRegistryOfDeeds" class="form-label">Registry of Deeds (RD)</label>
                                    <input type="email" class="form-control" id="transferRegistryOfDeeds" placeholder="Registry of deeds ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="transferZonalValue" class="form-label">Zonal Value</label>
                                    <input type="text" class="form-control" id="transferZonalValue" placeholder="Zonal value ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="transferPurchasePrice" class="form-label">Purchase Price</label>
                                    <input type="text" class="form-control" id="transferPurchasePrice" placeholder="Purchase price ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="transferRemarks" class="form-label">Remarks (Optional)</label>
                                    <textarea class="form-control" id="transferRemarks" rows="4" cols="6" placeholder="Add remarks ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Project</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Settlement of Estate Form Modal -->
        <div class="modal fade" id="settlementOfEstateModal" tabindex="-1" aria-labelledby="settlementOfEstateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="settlementOfEstateModalLabel">Settlement Of Estate (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 mb-3" id="addSettlementOfEstateForm" method="POST">
                            <!-- One column row for state select option -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="settlementProjectTitle" class="form-label">Project Title</label>
                                    <input type="text" class="form-control" id="settlementProjectTitle" placeholder="Project title ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="settlementClientName" class="form-label">Client Name</label>
                                    <input type="text" class="form-control" id="settlementClientName" placeholder="Client name ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="settlementTitleNo" class="form-label">Title No.</label>
                                    <input type="text" class="form-control" id="settlementTitleNo" placeholder="Title No. ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="settlementTaxDeclarationNo" class="form-label">Tax Declaration No.</label>
                                    <input type="text" class="form-control" id="settlementTaxDeclarationNo" placeholder="Tax Dec. ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="settlementLotNo" class="form-label">Lot No.</label>
                                    <input type="text" class="form-control" id="settlementLotNo" placeholder="Lot no. ..." required>
                                </div>
                                <div class="col-md-3">
                                    <label for="settlementLotArea" class="form-label">Lot Area</label>
                                    <input type="text" class="form-control" id="settlementLotArea" placeholder="Lot area ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="settlementLocation" class="form-label">Location</label>
                                    <input type="text" class="form-control" id="settlementLocation" placeholder="Location ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="settlementBir" class="form-label">Bureau of Internal Revenue (BIR)</label>
                                    <input type="text" class="form-control" id="settlementBir" placeholder="Revenue district office ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="settlementRegistryOfDeeds" class="form-label">Registry of Deeds (RD)</label>
                                    <input type="email" class="form-control" id="settlementRegistryOfDeeds" placeholder="Registry of deeds ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="settlementZonalValue" class="form-label">Zonal Value</label>
                                    <input type="text" class="form-control" id="settlementZonalValue" placeholder="Zonal value ..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="settlementPurchasePrice" class="form-label">Purchase Price</label>
                                    <input type="text" class="form-control" id="settlementPurchasePrice" placeholder="Purchase price ..." required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="settlementRemarks" class="form-label">Remarks (Optional)</label>
                                    <textarea class="form-control" id="settlementRemarks" rows="4" cols="6" placeholder="Add remarks ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Project</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Annotation of Title Form Modal -->
        <div class="modal fade" id="titleAnnotationModal" tabindex="-1" aria-labelledby="titleAnnotationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleAnnotationModalLabel">Title Annotation (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Title Annotation Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Other Title Transaction Form Modal -->
        <div class="modal fade" id="titleOtherProcessModal" tabindex="-1" aria-labelledby="titleOtherProcessModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleOtherProcessModalLabel">Title Other Process (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Title Other Process Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Business Selection Modal -->
        <div class="modal fade" id="businessModal" tabindex="-1" aria-labelledby="businessModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="businessModalLabel">Project Business</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-primary w-100 text-center mb-2" id="businessRegBtn">Business Registration</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="businessRenewalBtn">Business Renewal</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="businessClosureBtn">Business Closure</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="businessOtherProcessBtn">Others</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Business Registration Form Modal -->
        <div class="modal fade" id="businessRegModal" tabindex="-1" aria-labelledby="businessRegModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="businessRegModalLabel">Business Registration (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Business Registration Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Business Renewal Form Modal -->
        <div class="modal fade" id="businessRenewalModal" tabindex="-1" aria-labelledby="businessRenewalModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="businessRenewalModalLabel">Business Renewal (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Business Renewal Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Business Closure Form Modal -->
        <div class="modal fade" id="businessClosureModal" tabindex="-1" aria-labelledby="businessClosureModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="businessClosureModalLabel">Business Closure (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Business Closure Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Business Other Process Form Modal -->
        <div class="modal fade" id="businessOtherProcessModal" tabindex="-1" aria-labelledby="businessOtherProcessModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="businessOtherProcessModalLabel">Business Other Process (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Business Other Process Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SEC Selection Modal -->
        <div class="modal fade" id="secModal" tabindex="-1" aria-labelledby="secModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="secModalLabel">Project Securities & Exchange Subtype</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-primary w-100 text-center mb-2" id="secRegistrationBtn">Securities and Exchange (SEC) Registration</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="secAmendmentBtn">Amendment of Articles of Incorporation</button>
                        <br>
                        <button class="btn btn-primary w-100 text-center mb-2" id="secStockIncreaseBtn">Increase in Authorized Capital Stock</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SEC Registration Modal -->
        <div class="modal fade" id="secRegistrationModal" tabindex="-1" aria-labelledby="secRegistrationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="secRegistrationModalLabel">SEC Registration (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        SEC Registration Process Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SEC Amendment Modal -->
        <div class="modal fade" id="secAmendmentModal" tabindex="-1" aria-labelledby="secAmendmentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="secAmendmentModalModalLabel">SEC Amendment of Articles of Incorporation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        SEC Amendment of Articles of Incorporation Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SEC Stock Increase Modal -->
        <div class="modal fade" id="secStockIncreaseModal" tabindex="-1" aria-labelledby="secStockIncreaseModalModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="secStockIncreaseModalModalLabel">SEC Increase in Authorized Capital Stock (New Project)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        SEC Increase in Authorized Capital Stock Project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>