<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Credit Card Voucher</title>
</head>
<body>

    <main class="content px-3 py-4" layout:fragment="content">
        <div class="container-fluid">
            <div class="mb-3">
                <h3 class="fw-bold  fs-4 mb-3">Credit Card</h3>
            </div>
                <p>Welcome to Credit Card Voucher Page</p>
                <i class="lni lni-revenue"></i>
                <i class="lni lni-revenue"></i>
                <i class="lni lni-revenue"></i>
        </div>
    </main>

</body>
</html>