<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

    <footer class="footer bg-light py-3" th:fragment="footer">
        <div class="container-fluid">
            <div class="row text-secondary">
                <div class="col-6 text-start">
                    <p>
                        <code class="text-secondary">
                            Gomez Legal - FinancialHub @ All Rights Reserved
                        </code>
                    </p>
                </div>
                <div class="col-6 text-end d-none d-md-block">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <p>
                                <code class="text-secondary">Dev by:</code>
                            </p>
                        </li>
                        <li class="list-inline-item">
                            <p>
                                <code class="text-secondary">JamerSC</code>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>