<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

    <!--Search Bar & Profile Image w/Navigation-->
    <nav class="navbar navbar-expand px-4 py-3"  th:fragment="header">
        <form action="#" class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input type="text" class="form-control shadow border-1 rounded-1" placeholder="Search...">
                <button class="btn" type="button">
                    <i class="lni lni-search-alt"></i>
                </button>
            </div>
        </form>
        <div class="navbar-collapse collapsed">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-icon pe-md-0" data-bs-toggle="dropdown">
                        <img src="https://www.shutterstock.com/shutterstock/photos/1…nd-image-stock-vector-illustration-1290556063.jpg" alt="dmmy" class="avatar img-fluid"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">
                        <a th:href="@{/financial-hub/user-settings}" class="dropdown-item">
                            <i class="lni lni-user"></i>
                            <span>Profile</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-exit"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</body>
</html>