<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>

    <aside id="sidebar" class="expand" th:fragment="navigation">
        <div class="d-flex">
            <button id="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="#">FinancialHub</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a th:href="@{/financial-hub/dashboard}" class="sidebar-link">
                    <i class="lni lni-pie-chart"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!--2 Nested Unordered List - Dropdown  -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#cash" aria-expanded="false" aria-controls="cash">
                    <i class="lni lni-coin"></i>
                    <span>Cash</span>
                </a>
                <ul id="cash" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a th:href="@{/financial-hub/petty-cash}" class="sidebar-link">
                            <i class="lni lni-revenue"></i>
                            Petty Cash
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="lni lni-pencil-alt"></i>
                            Liquidation
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a th:href="@{/financial-hub/check}" class="sidebar-link">
                    <i class="lni lni-wallet"></i>
                    <span>Check</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a th:href="@{/financial-hub/credit-card}" class="sidebar-link">
                    <i class="lni lni-credit-cards"></i>
                    <span>Credit Card</span>
                </a>
            </li>
            <!--3 Nested Unordered List - Dropdown  -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#setting" aria-expanded="false" aria-controls="setting">
                    <i class="lni lni-cog"></i>
                    <span>Settings</span>
                </a>
                <ul id="setting" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#two-setting" aria-expanded="false" aria-controls="two-setting">
                            Other Settings
                        </a>
                        <ul id="two-setting" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a th:href="@{/financial-hub/settings}" class="sidebar-link">
                                    User Setting 1
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">
                                    Voucher Setting 2
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="sidebar-footer">
            <form th:action="@{/logout}" method="POST">
                <button type="submit" class="sidebar-link" style="border: none; background: none;">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </button>
            </form>
        </div>
    </aside>

</body>
</html>