<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Check Voucher</title>
</head>
<body>
<!--<a href="../fragments/layouts/base-layout.html"></a>-->
    <main class="content px-3 py-4" layout:fragment="content">
        <div class="container-fluid">
            <h1>Check Voucher Page</h1>
            <div>
                Name:
                <h1 sec:authentication="name">
                    The value of the "name" property of the authentication object should appear here.
                </h1>
            </div>
            <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                <h3>EMPLOYEE ROLE</h3>
            </div>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <h3>MANAGER ROLE</h3>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <h3>ADMIN ROLE</h3>
            </div>
            <div class="mb-3">
                <h1 class="fw-bold fs-4 mb-3">Check</h1>
            </div>
            <h3>Check Banks</h3>
            <ul th:each="bank : ${banks}">
                <li th:text="${bank}"></li>
            </ul>
        </div>
    </main>

</body>
</html>