<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
</head>
<body>

    <main class="content px-3 py4" layout:fragment="content">
        <div class="container-fluid">
            <div class="mb-3">
                <h3 class="fw-bold fs-4 mb-3">Admin Dashboard</h3>
                <br>
                <div sec:authentication="name">
                    The value of the "name" property of the authentication object should appear here.
                </div>
                <div sec:authorize="hasRole('ROLE_EMPLOYEE')"> Employee Role </div>
                <div sec:authorize="hasRole('ROLE_MANAGER')"> Manager Role </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')"> Employee Role </div>
                <br>
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-12 col-md-4">
                        <div class="card shadow border-1">
                            <div class="card-body py-4">
                                <h5 class="mb-2 fw-bold">
                                    Members Progress
                                </h5>
                                <p class="mb-2 fw-bold">
                                    $80,000
                                </p>
                                <div class="mb-0">
                                    <!-- margin end me-2 -->
                                    <span class="badge text-success me-2">
                                        +9.0%
                                    </span>
                                    <span class="fw-bold">
                                        Since Last month
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column 2 -->
                    <div class="col-12 col-md-4">
                        <div class="card shadow border-1">
                            <div class="card-body py-4">
                                <h5 class="mb-2 fw-bold">
                                    Members Progress
                                </h5>
                                <p class="mb-2 fw-bold">
                                    $80,000
                                </p>
                                <div class="mb-0">
                                    <!-- margin end me-2 -->
                                    <span class="badge text-success me-2">
                                        +9.0%
                                    </span>
                                    <span class="fw-bold">
                                        Since Last month
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column 3 -->
                    <div class="col-12 col-md-4">
                        <div class="card shadow border-1">
                            <div class="card-body py-4">
                                <h5 class="mb-2 fw-bold">
                                    Members Progress
                                </h5>
                                <p class="mb-2 fw-bold">
                                    $80,000
                                </p>
                                <div class="mb-0">
                                    <!-- margin end me-2 -->
                                    <span class="badge text-success me-2">
                                        +9.0%
                                    </span>
                                    <span class="fw-bold">
                                        Since Last month
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table -->
                    <h3 class="fw-bold fs-4 my-3">For Liquidation</h3>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped shadow">
                                <thead class="table-dark">
                                <tr>
                                    <th>First name</th>
                                    <th>Middle name</th>
                                    <th>Last name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.middleName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>