<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accounts</title>
    <link href="../../static/css/node_modules/lineicons/dist/lineicons.css" rel="stylesheet" th:href="@{/css/node_modules/lineicons/dist/lineicons.css}"/>
    <link  rel="stylesheet" href="../../static/css/bootstrap.min.css" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/jquery-3.7.1.min.js" type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css" th:href="@{/css/index.css}">
</head>
<body>

    <div class="wrapper">
        <!--navigation fragment-->
        <div th:replace="~{fragments/navigation :: navigation}">Navigation</div>
        <main class="content px-3 py-4">
            <!--header fragment-->
            <div th:replace="~{fragments/header :: header}">Header</div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="p-1">
                                <h5 class="fw-bold fs-4">Bank Accounts (Deposit)</h5>
                            </div>
                        </div>
                        <table class="table table-striped shadow">
                            <thead class="table-dark">
                            <tr>
                                <!--<th>ID</th>-->
                                <th>Bank</th>
                                <th>Branch</th>
                                <th>Accounts</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bank : ${listOfBankAccounts}">
                                <!--<td th:text="${bank.bankId}"></td>-->
                                <td th:text="${bank.name} + ' (' + ${bank.abbreviation} + ')'"></td>
                                <td th:text="${bank.branch}"></td>
                                <td>
                                    <table class="table table-striped shadow">
                                        <thead class="table-info">
                                        <tr>
                                            <!--<th>Bank ID</th>-->
                                            <th>Acc. Name</th>
                                            <th>Account No.</th>
                                            <th>Balance</th>
                                            <th sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="account : ${bank.accounts}">
                                            <!--<td th:text="${account.bank.bankId}"></td>-->
                                            <td th:text="${account.accountHolderName}"></td>
                                            <td th:text="${account.accountNumber}"></td>
                                            <td th:text="${account.accountBalance != null ?
                                            #numbers.formatDecimal(account.accountBalance, 1, 'COMMA', 2, 'POINT') : '0.00'}"></td>
                                            <td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                                                <a title="Deposit" href="#" class="btn btn-primary btn-sm"
                                                   th:href="@{/bank-transactions/{id}/deposit-transaction(id=${account.bankAccountId})}">
                                                    <i class="lni lni-file-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/footer :: footer}">Footer</div>
        </main>
    </div>

    <script src="../../static/js/bootstrap.bundle.min.js" type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../../static/js/popper.min.js" type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script src="../../static/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>