<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Deposit</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <!--<h3 class="fw-bold fs-4">Check Vouchers</h3>-->
        <!--<div sec:authentication="name"> The value of the "name" property of the authentication object</div>
        <div sec:authorize="hasRole('EMPLOYEE')"> Employee Role </div>-->
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Deposit Accounts</h4>
                    </div>
                </div>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                    <tr>
                        <th>Bank ID</th>
                        <th>Bank Name</th>
                        <th>Branch</th>
                        <th>Accounts</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bank : ${listOfBankAccounts}">
                        <td th:text="${bank.id}"></td>
                        <td th:text="${bank.name} + ' (' + ${bank.abbreviation} + ')'"></td>
                        <td th:text="${bank.branch}"></td>
                        <td>
                            <table class="table table-striped shadow">
                                <thead class="table-info">
                                <tr>
                                    <th>Acc. ID</th>
                                    <th>Acc. Name</th>
                                    <th>Account No.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${bank.accounts}">
                                    <td th:text="${account.bank.id}"></td>
                                    <td th:text="${account.accountName}"></td>
                                    <td th:text="${account.accountNumber}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

</body>
</html>