<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Retainer</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Retainers</h4>
                    </div>
                </div>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                    <tr>
                        <th>Name/Company Name</th>
                        <th>Status</th>
                        <th>Retainer ID</th>
                        <th>Last Activity</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempRetainer : ${accountRetainers}">
                        <td>
                            <!--<a th:href="@{/client-account/{id}/case-summary(id=${tempRetainer.clientAccountId})}" class="text-dark" title="view summary">
                            <span th:if="${tempRetainer.client.individual != null}"
                                  th:text="${tempRetainer.client.individual.getFullName()}"></span>
                                <span th:if="${tempRetainer.client.company != null}"
                                      th:text="${tempRetainer.client.company.companyName}"></span>
                            </a>-->
                            <span th:if="${tempRetainer.client.individual != null}"
                                  th:text="${tempRetainer.client.individual.getFullName()}"></span>
                            <span th:if="${tempRetainer.client.company != null}"
                                  th:text="${tempRetainer.client.company.companyName}"></span>
                        </td>
                        <td th:text="${tempRetainer.retainerAccount.status.displayStatus()}"></td>
                        <td th:text="${tempRetainer.retainerAccount.retainerId}"></td>
                        <td>-</td>
                        <td>
                            <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success btn-sm editCaseAccountBtn"
                               th:href="@{/client-account/edit-case-account(id=${tempRetainer.clientAccountId})}"  title="edit">
                                <i class="lni lni-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>