<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Default Title name-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Financial Hub</title>
    <!--<title layout:title-pattern="$LAYOUT_TITLE"></title>-->
    <!--lineicons npm package-->
    <link href="../../../static/css/node_modules/lineicons/dist/lineicons.css" rel="stylesheet" th:href="@{/css/node_modules/lineicons/dist/lineicons.css}"/>
    <!--External Bootstrap CSS-->
    <link  rel="stylesheet" href="../../../static/css/bootstrap.min.css" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!--<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
    <script src="../../../static/js/jquery-3.7.1.min.js" type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <!--External CSS Design type="text/css"  -->
    <link rel="stylesheet" href="../../../static/css/index.css" type="text/css" th:href="@{/css/index.css}">
    <!-- Tagify Library -->
    <link rel="stylesheet" href="../../../static/css/tagify.css" type="text/css" th:href="@{/css/tagify.css}">
    <script src="../../../static/js/tagify.min.js" type="text/javascript" th:src="@{/js/tagify.min.js}"></script>
</head>
<body>

    <div class="wrapper">
        <!--navigation fragment-->
        <div th:replace="~{/fragments/navigation :: navigation}">Navigation</div>
        <div class="main">
            <!--header fragment-->
            <div th:replace="~{/fragments/header :: header}">Header</div>
            <!--layout fragment-->
            <div layout:fragment="content">
                <div class="text-center">
                    <h1>FINANCIAL HUB CONTENT</h1>
                    <h1 sec:authentication="name">
                        The value of the "name" property of the authentication object should appear here.
                    </h1>
                    <h1>Welcome to User Settings Page</h1>
                    <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                        <h3>EMPLOYEE ROLE</h3>
                    </div>
                    <div sec:authorize="hasRole('ROLE_MANAGER')">
                        <h3>MANAGER ROLE</h3>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <h3>ADMIN ROLE</h3>
                    </div>
                </div>
            </div>
            <!--footer fragment-->
            <div th:replace="~{/fragments/footer :: footer}">Footer</div>
        </div>
    </div>

    <!-- External Bootstrap JS -->
    <script src="../../../static/js/bootstrap.bundle.min.js" type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- External Bootstrap Bundle with Popper   -->
    <script src="../../../static/js/popper.min.js" type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <!-- External JS  type="text/javascript"  -->
    <script src="../../../static/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
    <script src="../../../static/js/delete-modal.js" type="text/javascript" th:src="@{/js/delete-modal.js}"></script>
    <script src="../../../static/js/project-modal.js" type="text/javascript" th:src="@{/js/project-modal.js}"></script>

</body>
</html>