<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Default Title name-->
    <!--<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Financial Hub</title>-->
    <title layout:title-pattern="$LAYOUT_TITLE"></title>
    <!--lineicons cdn-->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <!--External Bootstrap CSS-->
    <link  rel="stylesheet"  href="../../../static/css/bootstrap.min.css" media="all" th:href="@{/css/bootstrap.min.css}">
    <!--External CSS Design-->
    <link rel="stylesheet" href="../../../static/css/style.css" type="text/css" media="all" th:href="@{/css/style.css}">
</head>
<body>

    <div class="wrapper">
        <!--header fragment-->
        <nav th:replace="~{/fragments/header :: header}"></nav>
        <!--layout fragment-->
        <div class="main" layout:fragment="content">
            <div class="text-center">
                <h1>Financial Hub Content</h1>
            </div>
        </div>
    </div>
    <!--footer fragment-->
    <footer th:replace="~{/fragments/footer :: footer}"></footer>







    <!-- External JS   -->
    <script src="../../../static/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
    <!-- External Bootstrap JS -->
    <script src="../../../static/js/bootstrap.bundle.min.js" type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- External Bootstrap Bundle with Popper   -->
    <script src="../../../static/js/popper.min.js" type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</body>
</html>