<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Bank Statements</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Bank Statements</h4>
                    </div>
                </div>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                        <tr>
                            <th>Acc. ID</th>
                            <th>Account Name</th>
                            <th>Account Number</th>
                            <th>Balance</th>
                            <th>Bank Name</th>
                            <th>Bank ID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tempAccount : ${listOfAllBankAccounts}">
                            <td th:text="${tempAccount.id}"></td>
                            <td th:text="${tempAccount.accountHolderName}"></td>
                            <td th:text="${tempAccount.accountNumber}"></td>
                            <td th:text="${tempAccount.accountBalance != null ? #numbers.formatDecimal(tempAccount.accountBalance, 1, 'COMMA', 2, 'POINT') : '0.00'}"></td>
                            <td th:text="${tempAccount.bank.name} + ' (' + ${tempAccount.bank.abbreviation} + ') - ' + ${tempAccount.bank.branch}"></td>
                            <td th:text="${tempAccount.bank.id}"></td>
                            <td>
                                <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" href="#" class="btn btn-info btn-sm"
                                   th:href="@{/bank/bank-account-journal/{id}(id=${tempAccount.id})}" title="Account Journal">
                                    <i class="lni lni-library"></i> Journal
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

</body>
</html>