<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Case Summary</title>
</head>
<body>

    <main class="content px-3 py-4" layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="p-1">
                            <h4 class="fw-bold fs-4">Case Summary</h4>
                        </div>
                    </div>
                    <table class="table table-striped shadow">
                        <thead class="table-dark">
                        <tr>
                            <th>Case Title</th>
                            <th>Status</th>
                            <th>Client</th>
                            <th>Activity Description</th>
                            <th>Activity Category</th>
                            <th>PIC</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>People vs. People</td>
                            <td>In progress</td>
                            <td>ABC Corporation</td>
                            <td>Secure Documents</td>
                            <td>Case Study</td>
                            <td>Employee Sample 1</td>
                            <td>September 1, 2024</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>
</html>