<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Case</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Case</h4>
                    </div>
                    <!-- Contact Option Modal Button -->
                    <div class="ms-auto p-1" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addCaseModal">
                            <i class="lni lni-notepad"></i> Add Case
                        </button>
                    </div>
                </div>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                    <tr>
                        <th>Case Title</th>
                        <th>Client</th>
                        <th>Status</th>
                        <th>Stage</th>
                        <th>Start Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempCase : ${accountCases}">
                        <td th:text="${tempCase.accountTitle}"></td>
                        <td>
                            <span th:if="${tempCase.client.individual != null}"
                                  th:text="${#strings.concat(tempCase.client.individual.firstName, ' ', tempCase.client.individual.lastName)}"></span>
                            <span th:if="${tempCase.client.company != null}"
                                  th:text="${tempCase.client.company.companyName}"></span>
                        </td>
                        <td th:text="${tempCase.caseAccount.status.convertStatus()}"></td>
                        <td th:text="${tempCase.caseAccount.stage}"></td>
                        <td th:text="${#dates.format(tempCase.caseAccount.startDate, 'dd MMMM yyyy')}"></td>
                        <td>
                            <a th:href="@{/client-account/case-summary}" class="btn btn-secondary btn-sm" title="view">
                                <i class="lni lni-eye"></i>
                            </a>
                            <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" href="#" class="btn btn-success btn-sm" title="edit">
                                <i class="lni lni-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Create Case - Form Modal -->
                <div class="modal fade" id="addCaseModal" tabindex="-1" aria-labelledby="addCaseModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addCaseModalLabel">Case (New Account)</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3 mb-3" id="addCaseForm" th:action="@{/client-account/add-case-account}" th:object="${account}" method="POST">
                                    <!-- One column row for state select option -->
                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            <label for="suffix" class="form-label">Case Type</label>
                                            <select id="suffix" class="form-select" th:field="*{caseAccount.caseType}" required>
                                                <option value="" selected>Select case type...</option>
                                                <option th:each="cases : ${caseType}"
                                                        th:value="${cases}"
                                                        th:text="${cases.convertCaseType}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="caseTitle" class="form-label">Case Title</label>
                                            <input type="text" class="form-control" id="caseTitle" placeholder="Case title ..." th:field="*{accountTitle}" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="docketNo" class="form-label">Docket No.</label>
                                            <input type="text" class="form-control" id="docketNo" placeholder="Docket number ..." th:field="*{caseAccount.docketNo}" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">.
                                        <div class="col-md-4">
                                            <label for="nature" class="form-label">Nature</label>
                                            <input type="text" class="form-control" id="nature" placeholder="Nature ..." th:field="*{caseAccount.nature}" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="court" class="form-label">Court</label>
                                            <input type="text" class="form-control" id="court" placeholder="Court ..." th:field="*{caseAccount.court}" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="branch" class="form-label">Branch</label>
                                            <input type="text" class="form-control" id="branch" placeholder="Branch ..." th:field="*{caseAccount.branch}" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="judge" class="form-label">Judge</label>
                                            <input type="text" class="form-control" id="judge" placeholder="Judge ..." th:field="*{caseAccount.judge}" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="courtEmail" class="form-label">Court Email</label>
                                            <input type="email" class="form-control" id="courtEmail" placeholder="Court email ..." th:field="*{caseAccount.courtEmail}" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="prosecutor" class="form-label">Prosecutor</label>
                                            <input type="text" class="form-control" id="prosecutor" placeholder="Prosecutor ..." th:field="*{caseAccount.prosecutor}" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="prosecutorOffice" class="form-label">Prosecutor Office</label>
                                            <input type="text" class="form-control" id="prosecutorOffice" placeholder="Prosecutor Office ..." th:field="*{caseAccount.prosecutorOffice}" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="prosecutorEmail" class="form-label">Prosecutor Email</label>
                                            <input type="email" class="form-control" id="prosecutorEmail" placeholder="Prosecutor Email ..." th:field="*{caseAccount.prosecutorEmail}" required>
                                        </div>
                                    </div>
                                    <!-- One column row for state select option -->
                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            <label for="client" class="form-label">Client</label>
                                            <select id="client" class="form-select" th:field="*{client}" required>
                                                <option value="" selected>Select client...</option>
                                                <option th:each="tempClient : ${clients}"
                                                        th:value="${tempClient.contactId}"
                                                        th:text="${tempClient.contactType != null && tempClient.contactType.name() == 'INDIVIDUAL' ?
                                                         (#strings.concat(tempClient.individual?.firstName, ' ', tempClient.individual?.lastName,
                                                         ' (', tempClient.contactType.convertContactType(), '/', tempClient.contactCategoryType.convertContactCategoryType(), ')'))
                                                         : (#strings.concat(tempClient.company?.companyName, ' (', tempClient.contactType.convertContactType(),
                                                         '/', tempClient.contactCategoryType.convertContactCategoryType(), ')'))}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="opposingParty" class="form-label">Opposing Party</label>
                                            <input type="text" class="form-control" id="opposingParty" placeholder="Opposing Party ..." th:field="*{caseAccount.opposingParty}" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="opposingCounsel" class="form-label">Opposing Counsel</label>
                                            <input type="text" class="form-control" id="opposingCounsel" placeholder="Opposing Counsel ..." th:field="*{caseAccount.opposingCounsel}" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="counselEmail" class="form-label">Counsel Email</label>
                                            <input type="email" class="form-control" id="counselEmail" placeholder="Counsel Email ..." th:field="*{caseAccount.counselEmail}" required>
                                        </div>
                                    </div>
                                    <!-- One column row for state select option -->
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="status" class="form-label">Status</label>
                                            <select id="status" class="form-select" th:field="*{caseAccount.status}" required>
                                                <option value="" selected>Select status...</option>
                                                <option th:each="tempStatus : ${status}"
                                                        th:value="${tempStatus}"
                                                        th:text="${tempStatus.convertStatus()}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="stage" class="form-label">Stage</label>
                                            <input type="text" class="form-control" id="stage" placeholder="Stage ..." th:field="*{caseAccount.stage}" required>
                                        </div>
                                    </div>
                                    <!-- One column row for state select option -->
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="startDate" class="form-label">Start Date</label>
                                            <input type="date" class="form-control" id="startDate" th:field="*{caseAccount.startDate}" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="endDate" class="form-label">End Date</label>
                                            <input type="date" class="form-control" id="endDate" th:field="*{caseAccount.endDate}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Create Case</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>