<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Case Summary</title>
</head>
<body>

    <main class="content px-3 py-4" layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="p-1">
                            <h5 class="fw-bold fs-4">Case Summary</h5>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <!-- Client Account Information -->
                        <div class="col-md-6 p-3">
                            <h6 class="fw-bold">Client Account Information</h6>
                            <div th:if="${caseSummary.client?.individual != null}">
                                <p><strong>Full Name:</strong> <span  th:text="${caseSummary.client.individual.getFullName()}"></span></p>
                            </div>
                            <div th:if="${caseSummary.client?.company != null}">
                                <p><strong>Company Name:</strong> <span  th:text="${caseSummary.client.company.companyName}"></span></p>
                            </div>
                            <p><strong>Account Type:</strong> <span th:text="${caseSummary.clientAccountType.convertAccountType()}"></span></p>
                            <br>
                            <h6 class="fw-bold">Case Information</h6>
                            <p><strong>Case Title:</strong> <span th:text="${caseSummary.caseAccount.caseTitle}"></span></p>
                            <p><strong>Case Type:</strong> <span th:text="${caseSummary.caseAccount.caseType.convertCaseType()}"></span></p>
                            <p><strong>Docket No:</strong> <span th:text="${caseSummary.caseAccount.docketNo}"></span></p>
                            <p><strong>Nature:</strong> <span th:text="${caseSummary.caseAccount.nature}"></span></p>
                            <h6 class="fw-bold">Court's info</h6>
                            <p><strong>Court:</strong> <span th:text="${caseSummary.caseAccount.court}"></span></p>
                            <p><strong>Branch:</strong> <span th:text="${caseSummary.caseAccount.branch}"></span></p>
                            <p><strong>Judge:</strong> <span th:text="${caseSummary.caseAccount.judge}"></span></p>
                            <p><strong>Court Email:</strong> <span th:text="${caseSummary.caseAccount.courtEmail}"></span></p>
                        </div>
                        <div class="col-md-6 p-3">
                            <h6 class="fw-bold">Prosecutor's info</h6>
                            <p><strong>Prosecutor:</strong> <span th:text="${caseSummary.caseAccount.prosecutor}"></span></p>
                            <p><strong>Prosecutor's Office:</strong> <span th:text="${caseSummary.caseAccount.prosecutorOffice}"></span></p>
                            <p><strong>Prosecutor Email:</strong> <span th:text="${caseSummary.caseAccount.prosecutorEmail}"></span></p>
                            <h6 class="fw-bold">Opposing Party info</h6>
                            <p><strong>Opposing Party:</strong> <span th:text="${caseSummary.caseAccount.opposingParty}"></span></p>
                            <p><strong>Opposing Counsel:</strong> <span th:text="${caseSummary.caseAccount.opposingCounsel}"></span></p>
                            <p><strong>Counsel Email:</strong> <span th:text="${caseSummary.caseAccount.counselEmail}"></span></p>
                            <br>
                            <p><strong>Status:</strong> <span th:text="${caseSummary.caseAccount.status.convertStatus()}"></span></p>
                            <p><strong>Stage:</strong> <span th:text="${caseSummary.caseAccount.stage}"></span></p>
                            <br>
                            <p><strong>Start Date:</strong> <span th:text="${#dates.format(caseSummary.caseAccount.startDate, 'dd MMMM yyyy')}"></span></p>
                            <p><strong>End Date:</strong> <span th:text="${#dates.format(caseSummary.caseAccount.endDate, 'dd MMMM yyyy')}"></span></p>
                        </div>
                    </div>
                    <h5 class="fw-bold mb-3">Activities</h5>
                    <table class="table table-striped shadow">
                        <thead class="table-dark">
                        <tr>
                            <td>Activity Description</td>
                            <th>Activity Category</th>
                            <th>PIC</th>
                            <th>Activity Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Secure documents</td>
                            <td>Certification</td>
                            <td>Juan Doe</td>
                            <td>Oct. 25, 2024</td>
                        </tr>
                       <!-- <tr th:if="${#lists.isEmpty(contact.clientAccounts)}">
                            <td colspan="4" class="text-center">No existing cases/projects...</td>
                        </tr>
                        <tr th:each="account : ${contact.clientAccounts}" th:unless="${#lists.isEmpty(contact.clientAccounts)}">
                            <td th:text="${account.clientAccountId}"></td>
                            <td th:text="${account.accountTitle}"></td>
                            <td th:text="${account.clientAccountType.convertAccountType()}"></td>
                            <td th:text="${account.caseAccount.status.convertStatus()}"></td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>
</html>