<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Settings</title>
</head>
<body>

    <div th:fragment="modal(id)" th:id="${id}" class="modal fade" th:classappend="${formHasErrors} ? 'show' : ''"
         tabindex="-1" aria-labelledby="createNewUserLabel" aria-hidden="true" th:attr="aria-hidden=${formHasErrors} ? 'false' : 'true'">
        <form class="z-3" action="#" th:action="@{/settings/user-settings}" th:object="${userDto}" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title fs-5" id="createNewUserLabel">New User</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="firstName" class="col-form-label">First name:</label>
                            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter first name...">
                            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error">
                                Firstname is required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="middleName" class="col-form-label">Middle name:</label>
                            <input type="text" class="form-control" id="middleName" th:field="*{middleName}" placeholder="Enter middle name...">
                            <!-- Middle name is optional -->
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="col-form-label">Last name:</label>
                            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter last name...">
                            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error">
                                Lastname is required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Enter email address...">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error" >
                                Email is required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Roles:</label>
                            <div th:each="role : ${roles}">
                                <input type="checkbox" th:field="*{roleIds}" th:value="${role.id}" th:id="${role.id}" />
                                <label th:for="${role.id}" th:text="'Select ' + ${#strings.substringAfter(role.name, 'ROLE_')} + ' role'"></label>
                            </div>
                            <div th:if="${#fields.hasErrors('roleIds')}" th:errors="*{roleIds}" class="error">
                                User Role is required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Enter username">
                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">
                                Username is required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter password...">
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">
                                Password is required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="col-form-label">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Enter confirm password...">
                            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error">
                                Confirm password is required!
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create User</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>