<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>User Settings</title>
</head>
<body>

    <main class="content px-3 py-4" layout:fragment="content">
        <div class="container-fluid">
            <div class="mb-3">
                <h3 class="fw-bold  fs-4 mb-3">User Settings</h3>
            </div>
            <p>Welcome to User Settings Page</p>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <h1>ADMIN ROLE</h1>
            </div>
            <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                <h1>EMPLOYEE ROLE</h1>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                This will only be displayed if authenticated user has role ROLE_ADMIN.
            </div>
            <div sec:authentication="name">
                The value of the "name" property of the authentication object should appear here.
            </div>

            <p>List of Users</p>
            <table class="table table-striped shadow">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${people}">
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.cash}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>