<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Settings</title>
    <link href="../../static/css/node_modules/lineicons/dist/lineicons.css" rel="stylesheet" th:href="@{/css/node_modules/lineicons/dist/lineicons.css}"/>
    <link  rel="stylesheet" href="../../static/css/bootstrap.min.css" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/jquery-3.7.1.min.js" type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css" th:href="@{/css/index.css}">
</head>
<body>

    <div class="wrapper">
        <!--navigation fragment-->
        <div th:replace="~{fragments/navigation :: navigation}">Navigation</div>
        <main class="content px-3 py-4">
            <!--header fragment-->
            <div th:replace="~{fragments/header :: header}">Header</div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4 class="fw-bold fs-4 mb-4">My Profile</h4>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div sec:authorize="hasRole('SUPER')">
                                    <p>
                                        <strong>Full name:</strong>
                                        <span th:text="${profileInfo.fullName}"></span>
                                    </p>
                                    <p>
                                        <strong>Username:</strong>
                                        <span th:text="${profileInfo.username}"></span>
                                    </p>
                                </div>

                                <!-- Individual Information -->
                                <div th:if="${profileInfo.contact.individual != null}">
                                    <p>
                                        <strong>Full name:</strong>
                                        <span th:text="${profileInfo.contact.individual != null
                                        ? profileInfo.contact.individual.getFullName() : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Username:</strong>
                                        <span th:text="${profileInfo.username}"></span>
                                    </p>
                                    <p>
                                        <strong>Email Address:</strong>
                                        <span th:text="${profileInfo.contact.individual.emailAddress != null
                                        ? profileInfo.contact.individual.emailAddress : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Mobile Number:</strong>
                                        <span th:text="${profileInfo.contact.individual.mobileNumber != null
                                        ? profileInfo.contact.individual.mobileNumber : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Address:</strong>
                                        <span th:text="${profileInfo.contact.individual.address != null
                                        ? profileInfo.contact.individual.address : ''}"></span>
                                    </p>
                                </div>

                                <div  th:if="${profileInfo.contact.company != null}">
                                    <!-- Company Information -->
                                    <p>
                                        <strong>Company Name:</strong>
                                        <span th:text="${profileInfo.contact.company.companyName != null
                                        ? profileInfo.contact.company.companyName : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Registration Type:</strong>
                                        <span th:text="${profileInfo.contact.company.registrationType != null
                                        ? profileInfo.contact.company.registrationType.displayRegistrationType() : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Representative Name:</strong>
                                        <span th:text="${profileInfo.contact.company.representativeName != null
                                        ? profileInfo.contact.company.representativeName : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Representative Designation:</strong>
                                        <span th:text="${profileInfo.contact.company.representativeDesignation != null
                                        ? profileInfo.company.representativeDesignation : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Email Address:</strong>
                                        <span th:text="${profileInfo.contact.company.emailAddress != null
                                        ? profileInfo.contact.company.emailAddress : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Mobile Number:</strong>
                                        <span th:text="${profileInfo.contact.company.mobileNumber != null
                                        ? profileInfo.contact.company.mobileNumber : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Address:</strong>
                                        <span th:text="${profileInfo.contact.company.address != null
                                        ? profileInfo.contact.company.address ''}"></span>
                                    </p>
                                </div>

                                <div th:if="${profileInfo.contact != null}">
                                    <!-- Contact and Category Types -->
                                    <p>
                                        <strong>Contact Type:</strong>
                                        <span th:text="${profileInfo.contact.contactType != null
                                        ? profileInfo.contact.contactType.displayContactType() : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Category Type:</strong>
                                        <span th:text="${profileInfo.contact.contactCategoryType != null
                                        ? profileInfo.contact.contactCategoryType.displayContactCategoryType() : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Best Channel to Contact:</strong>
                                        <span th:text="${profileInfo.contact.bestChannelToContact != null
                                        ? profileInfo.contact.bestChannelToContact : ''}"></span>
                                    </p>
                                    <p>
                                        <strong>Engagement Date:</strong>
                                        <span th:text="${profileInfo.contact.engagementDate != null ?
                                        #dates.format(profileInfo.contact.engagementDate, 'MMMM d, yyyy') : ''}"></span>
                                    </p>
                                </div>
                            </div>

                            <div th:if="${profileInfo.contact.additionalDetails != null}" class="col-md-6">
                                <h5>Other Details</h5>
                                <p>
                                    <strong>Designation:</strong>
                                    <span th:text="${profileInfo.contact.additionalDetails.designationFor != null
                                    ? profileInfo.contact.additionalDetails.designationFor : ''}"></span>
                                </p>
                                <p>
                                    <strong>Bank:</strong>
                                    <span th:text="${profileInfo.contact.additionalDetails.bankName != null
                                    ? profileInfo.contact.additionalDetails.bankName : ''}"></span>
                                </p>
                                <p>
                                    <strong>Account No.:</strong>
                                    <span th:text="${profileInfo.contact.additionalDetails.accountNo != null
                                    ? profileInfo.contact.additionalDetails.accountNo : ''}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/footer :: footer}">Footer</div>
        </main>
    </div>

    <script src="../../static/js/bootstrap.bundle.min.js" type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../../static/js/popper.min.js" type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script src="../../static/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>