<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Contacts</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Contacts</h4>
                    </div>
                    <!-- Contact Option Modal Button -->
                    <div class="ms-auto p-1" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#contactTypeModal">
                            <i class="lni lni-plus"></i> Contact
                        </button>
                    </div>
                    <!-- Individual/Company form modal -->
                    <th:block th:replace="~{contact/contact-forms :: contact-forms}"></th:block>
                </div>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                    <tr>
                        <th>Name/Company Name</th>
                        <th>Contact Type</th>
                        <th>Category Type</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempContact : ${contacts}">
                        <td>
                            <a th:href="@{/contacts/{id}/contact-info(id=${tempContact.contactId})}" class="text-dark" title="view">
                            <span th:if="${tempContact.individual != null}"
                                  th:text="${tempContact.individual.getFullName()}"></span>
                            <span th:if="${tempContact.company != null}"
                                  th:text="${tempContact.company.companyName}"></span>
                            </a>
                        </td>
                        <td th:text="${tempContact.contactType.displayContactType()}"></td>
                        <td th:text="${tempContact.contactCategoryType.displayContactCategoryType()}"></td>
                        <td>
                            <a th:if="${tempContact.individual != null}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"
                               th:href="@{/contacts/edit-individual-contact(id=${tempContact.contactId})}"
                               class="btn btn-success btn-sm editContactIndividualBtn" title="edit">
                                <i class="lni lni-pen-to-square"></i>
                            </a>
                            <a th:if="${tempContact.company != null}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"
                               th:href="@{/contacts/edit-company-contact(id=${tempContact.contactId})}"
                               class="btn btn-success btn-sm editContactCompanyBtn" title="edit">
                                <i class="lni lni-pen-to-square"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script th:inline="javascript">
                    $(document).ready(function() {
                        // Existing modal handling for individual/company buttons
                        $('#individualBtn').click(function() {
                            $('#contactTypeModal').modal('hide');
                            $('#individualModal').modal('show');
                        });
                        $('#companyBtn').click(function() {
                            $('#contactTypeModal').modal('hide');
                            $('#companyModal').modal('show');
                        });

                        // UPDATE INDIVIDUAL CONTACT

                        $('.table .editContactIndividualBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            // Make an AJAX GET request to fetch the case data
                            $.get(href, function(tempContact, status) {

                                $('#editIndividualContactForm #individualContactId').val(tempContact.contactId);
                                $('#editIndividualContactForm #editIndividualCategoryType').val(tempContact.contactCategoryType);
                                $('#editIndividualContactForm #editIndividualChannel').val(tempContact.bestChannelToContact);
                                $('#editIndividualContactForm #editIndividualEngagementDate').val(formatDate(tempContact.engagementDate));

                                if (tempContact.individual) {
                                    $('#editIndividualContactForm #editIndividualId').val(tempContact.individual.individualId);
                                    $('#editIndividualContactForm #editIndividualTitle').val(tempContact.individual.title);
                                    $('#editIndividualContactForm #editIndividualFirstName').val(tempContact.individual.firstName);
                                    $('#editIndividualContactForm #editIndividualMiddleName').val(tempContact.individual.middleName);
                                    $('#editIndividualContactForm #editIndividualLastName').val(tempContact.individual.lastName);
                                    $('#editIndividualContactForm #editIndividualSuffix').val(tempContact.individual.suffix);
                                    $('#editIndividualContactForm #editIndividualMobileNumber').val(tempContact.individual.mobileNumber);
                                    $('#editIndividualContactForm #editIndividualEmail').val(tempContact.individual.emailAddress);
                                    $('#editIndividualContactForm #editIndividualAddress').val(tempContact.individual.address);
                                }

                                if (tempContact.additionalDetails) {
                                    $('#editIndividualContactForm #editDetailId').val(tempContact.additionalDetails.detailId);
                                    $('#editIndividualContactForm #editIndividualDesignationFor').val(tempContact.additionalDetails.designationFor);
                                    $('#editIndividualContactForm #editIndividualBankName').val(tempContact.additionalDetails.bankName);
                                    $('#editIndividualContactForm #editIndividualAccountNo').val(tempContact.additionalDetails.accountNo);
                                }

                                $('#editIndividualModal').modal('show');
                            });
                        });

                        // UPDATE COMPANY CONTACT

                        $('.table .editContactCompanyBtn').on('click', function(event) {
                            event.preventDefault();
                            var href = $(this).attr('href');

                            // Make an AJAX GET request to fetch the case data
                            $.get(href, function(tempContact, status) {

                                $('#editContactCompanyForm #companyContactId').val(tempContact.contactId);
                                $('#editContactCompanyForm #editCompanyCategoryType').val(tempContact.contactCategoryType);
                                $('#editContactCompanyForm #editCompanyChannel').val(tempContact.bestChannelToContact);
                                $('#editContactCompanyForm #editCompanyEngagementDate').val(formatDate(tempContact.engagementDate));

                                if (tempContact.company) {
                                    $('#editContactCompanyForm #editCompanyId').val(tempContact.company.companyId);
                                    $('#editContactCompanyForm #editCompanyName').val(tempContact.company.companyName);
                                    $('#editContactCompanyForm #editRegistrationType').val(tempContact.company.registrationType);
                                    $('#editContactCompanyForm #editRepresentativeName').val(tempContact.company.representativeName);
                                    $('#editContactCompanyForm #editRepresentativeDesignation').val(tempContact.company.representativeDesignation);
                                    $('#editContactCompanyForm #editCompanyMobileNumber').val(tempContact.company.mobileNumber);
                                    $('#editContactCompanyForm #editCompanyEmail').val(tempContact.company.emailAddress);
                                    $('#editContactCompanyForm #editCompanyAddress').val(tempContact.company.address);
                                }

                                if (tempContact.additionalDetails) {
                                    $('#editContactCompanyForm #editCompanyDetailId').val(tempContact.additionalDetails.detailId);
                                    $('#editContactCompanyForm #editCompanyDesignationFor').val(tempContact.additionalDetails.designationFor);
                                    $('#editContactCompanyForm #editCompanyBankName').val(tempContact.additionalDetails.bankName);
                                    $('#editContactCompanyForm #editCompanyAccountNo').val(tempContact.additionalDetails.accountNo);
                                }

                                $('#editCompanyModal').modal('show');
                            });
                        });

                        function formatDate(date) {
                            if (!date) return '';
                            if (typeof date === 'string') {
                                date = new Date(date);
                            } else if (typeof date === 'number') {
                                date = new Date(date); // Handle timestamps
                            }
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const day = String(date.getDate()).padStart(2, '0');
                            return `${year}-${month}-${day}`;
                        }

                        // RESET SPECIFIC FORMS
                        //$('#editIndividualModal').on('hide.bs.modal', function () {
                            // Reset the form when the modal is closed
                            //$('#editIndividualContactForm')[0].reset();
                        //});

                        // RESET ALL HIDE FORMS
                        // Listen for the Bootstrap modal's hide event for all modals
                        $('.modal').on('hide.bs.modal', function () {
                            // Find the form within the modal (if it exists) and reset it
                            const form = $(this).find('form')[0];
                            if (form) {
                                form.reset();
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</main>

</body>
</html>
