<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>Contacts</title>
</head>
<body>

<main class="content px-3 py-4" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-1">
                        <h4 class="fw-bold fs-4">Contacts</h4>
                    </div>
                    <!-- Contact Option Modal Button -->
                    <div class="ms-auto p-1" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#contactTypeModal">
                            <i class="lni lni-notepad"></i> Add Contact
                        </button>
                    </div>
                    <!-- Individual/Company form modal -->
                    <th:block th:replace="~{contact/contact-forms :: contact-forms}"></th:block>
                </div>
                <table class="table table-striped shadow">
                    <thead class="table-dark">
                    <tr>
                        <th>Name/Company Name</th>
                        <th>Contact Type</th>
                        <th>Category Type</th>
                        <th>Best Channel</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempContact : ${contacts}">
                        <td>
                            <span th:if="${tempContact.individual != null}"
                                  th:text="${#strings.concat(tempContact.individual.firstName, ' ', tempContact.individual.lastName)}"></span>
                            <span th:if="${tempContact.company != null}"
                                  th:text="${tempContact.company.companyName}"></span>
                        </td>
                        <td th:text="${tempContact.contactType.convertContactType()}"></td>
                        <td th:text="${tempContact.contactCategoryType.convertContactCategoryType()}"></td>
                        <td th:text="${tempContact.bestChannelToContact}"></td>
                        <td>
                            <a class="btn btn-secondary btn-sm" title="view">
                                <i class="lni lni-eye"></i>
                            </a>
                            <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" href="#" class="btn btn-success btn-sm" title="edit">
                                <i class="lni lni-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script>
                    $(document).ready(function() {
                        // Existing modal handling for individual/company buttons
                        $('#individualBtn').click(function() {
                            $('#contactTypeModal').modal('hide');
                            $('#individualModal').modal('show');
                        });
                        $('#companyBtn').click(function() {
                            $('#contactTypeModal').modal('hide');
                            $('#companyModal').modal('show');
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</main>

</body>
</html>
