<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base-layout}">
<head>
    <title>My Activity</title>
</head>
<body>

    <main class="content px-3 py-4" layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="p-1">
                            <h4 class="fw-bold fs-4">My Activity</h4>
                        </div>
                        <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="ms-auto p-1">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#addMyActivityModal" title="Add Activity">
                                <i class="lni lni-plus-circle"></i> Activity
                            </button>
                        </div>
                    </div>
                    <table class="table table-striped shadow">
                        <thead class="table-dark">
                            <tr>
                                <th>Activity Date</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Account(s)</th>
                                <th>PIC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tempActivity : ${myActivities}">
                                <td th:text="${#dates.format(tempActivity.date, 'MM/dd/yyyy')}"></td> <!-- dd MMMM yyyy -->
                                <td th:text="${tempActivity.activityDescription}"></td>
                                <td th:text="${tempActivity.activityCategory}"></td>
                                <td>
                                    <div class="mb-2">
                                        <!-- Loop through accounts and display each in a styled <p> -->
                                        <p th:each="account : ${tempActivity.accounts}" class="mb-1">
                                            <span class="fw-bold" th:text="${account.accountTitle}"></span>
                                            <span class="text-muted" th:text="'(' + ${account.clientAccountType.displayClientAccountType()} + ')'"></span>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <span th:if="${tempActivity.receivedBy != null}"
                                          th:text="${tempActivity.receivedBy.fullName}">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>
</html>